



params {
   database = "/data/ficklin_class/AFS505/course_material/data/swissprot";
   query_files = "/data/ficklin_class/AFS505/course_material/data/all.pep"; 
   splitr = 10
   
}

profiles {
  slurm {
    process {
      executor = "slurm"
      queue = "ficklin_class"
      clusterOptions = "--account=ficklin_class"
      time = "24h"
      cpus = 7

      withName:blast_swissprot {
	 module = "blast/2.7.1"
         cpus = 7
      } 

    }
  }
}
